sudo: required
dist: trusty

language: haxe

os:
  - linux

# you can specify futher versions as found at http://haxe.org/website-content/downloads/versions.json
haxe:
  - "3.4.0"
  - "3.4.5"
  
matrix:
  allow_failures:
    - haxe: development

install:
  - haxelib install travix
  # to always use the latest version of travix comment out the previous line and uncomment the next
  # - haxelib git travix https://github.com/back2dos/travix && pushd . && cd $(haxelib config)travix/git && haxe build-neko.hxml && popd
  - haxelib run travix install

script:
  - haxelib run travix node
